body, html {
	margin:0;
	padding: 0;
	
}
header{
	height: 110px;
	background-color: #2b7a8d;
	border-top-left-radius:30px ;
	border-top-right-radius:30px ;
	margin: 0;


  }
  h1{
    color: white;
    font-size: 45px;
   margin-top:20px;
    border: none;
    margin-left: 40px;
   display: inline-block;
   font-style: inherit;

}
.grey{
	color:#c0ced1 ;
}
.slogan{
	margin-top:-30px;
	margin-left: 55px;
	font-size: 16px;
	color: white;
	font-style: inherit;
}
.search_bar{
	margin-left: 76%;
	margin-top: -50px;
}
.search, .submit{
	height: 25px;

}
.submit{
	width: 80px;
	height: 30px;
}
.menuBar{
	height: 35px;
	background-color: #b7b8bc;
	margin-top: 4px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;


}
nav ul li {
display: inline-block;
/*  margin-bottom: -10px;*/
/*  margin-bottom: -10px;*/

  
}
a{
	text-decoration: none;
	color: white;
	font-size: 30px; 
	margin-left: 10px;
	font-style: inherit;


}
.tools{
	margin-left: 40px;
}
a:hover{
	background-color:#2b7a8d ;
}
.InfoDiv{
	width: 75%;
	height: 1050px;
/*	background-color: red;*/
	margin-top: 10px;
	margin-left: 8px;
	display:inline-block;
}
.newsDiv{
	width: 20%;
	height: 1100px;
	display:inline-block;
/*	background-color: red;*/
	margin-left: 30px;
	margin-top: 10px;
}
.tamplateInfoDiv, .greyDiv{
	width: 100%;
	background-color: #f6f6f6;
	height: 50px;
	border-bottom: 2px solid #b7b8bc;
	margin: 0;
	padding: 0;
	display: flex;
	font-style:inherit ;
}
h2{
	color: #2b7a8d;
	line-height: 40%;
	margin-left: 20px;

}
.firstParagraph, .secondParagraph{
	margin-left: 15px;
	font-size: 22px;
}
.bluePar{
	color: #2b7a8d;
}
.secondParagraph{
	margin-top: 50px;
}
.InformationDiv{
	width: 96%;
	height: 50px;
	background-color: #f6f6f6;
	margin-left: 2%;
	margin-top: 95px;
	

}
.read, .comments, .time{
	font-size: 22px;
	color: #2b7a8d;

}
.secondUl{
	margin-left: 30%;
	padding: 12px;
}
.time{
	color: black;
}

.comments, .time{
	margin-left: 60px;
}
.read:hover, .time:hover, .comments:hover{
	background-color: #f6f6f6;
}
.Sample{
	margin-top: 22px;
}
.code{
	font-size: 22px;
	margin-left: 20px;
	color: #689c9e;
	margin-top: 20px;

}
.codeDive{
	height: 120px;
	background-color: #f6f6f6;
	width: 98%;
	margin-left: 0.5%;
	padding: 10px;
}
.codeParagraph{
	margin-left: 60px;
	font-style: inherit;
margin-left: 5px;


}
.lists{
	margin-top:35px ;
}
ol{
	margin-left: 20px;

}
.unorderedList{
	margin-left: 25px;
}
.loremDiv{
	height: 80px;
	font-size: 20px;
	font-style: inherit;
}
.Menu{
	color: white;
}
.greyDiv{
	background-color: #b7b8bc;

}
.squareUl{
	list-style-type: none;
	font-size: 20px;
	margin-left: -37px;
}
.squareLi{
	margin-top: 25px;
	font-size: 25px;
	border-bottom: 1px solid #b7b8bc;
	color: #2b7a8d;
}
.fa-square{
	font-size: 18px;
	color: #ececec;
	margin-right: 10px;

}
.squareLi:hover{
	cursor: pointer;
}
.WilliamPar{
	font-size: 19px;
	font-style: inherit;
}
.William{
	margin-left: 60%;
	margin-top: 40px;
}
.lastPar{
	font-size: 19px;
	font-style: inherit;
}
.BigDiv{
	width: 100%;
	height: 1120px;
	margin-top: 15px;
	display: flex;
}
.jam, .common{
	font-size: 20px;
	color:  #b7b8bc;
	margin-right: 5px;

}
.common{
	font-size: 68px;
	display: inline-block;
	margin-left: 13px;
}
.commonDiv{
	width: 8%;
	height: 80px;
	display: inline-block;

}
.displayDiv{
	width: 90%;
	height: 80px;
	display: inline-block;
}
.flexDiv{
	display: flex;
}